---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Table from "@/components/Table.astro";
import FilterSelectors from "@/components/FilterSelectors.astro";
import "@/styles/globals.css";
---

<Layout
	title="Pega Hunt - Ofertas Dev"
	description="Las principales ofertas de trabajo en tecnología dentro de LATAM, en un solo lugar."
>
	<Header />
	<section class="flex flex-col gap-y-4">
		<FilterSelectors />
		<Table />
	</section>
</Layout>
