---
import GitHub from "@/components/ui/icons/GitHub.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<header class="flex items-center justify-between text-3xl">
  <div class="flex items-center gap-x-2">
    <svg
      class="w-10 h-10"
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-world-code"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M20.942 13.02a9 9 0 1 0 -9.47 7.964"></path><path d="M3.6 9h16.8"
      ></path><path d="M3.6 15h9.9"></path><path d="M11.5 3a17 17 0 0 0 0 18"
      ></path><path d="M12.5 3c2 3.206 2.837 6.913 2.508 10.537"></path><path
        d="M20 21l2 -2l-2 -2"></path><path d="M17 17l-2 2l2 2"></path></svg
    >
    <h1 class="underline font-semibold">Pega Hunt</h1>
  </div>
  <nav class="flex items-center gap-x-4">
    <ThemeToggle />
    <a
      class="ml-auto flex max-w-fit items-center justify-center space-x-2 font-semibold rounded-full border border-gray-300 px-3 py-1.5 text-xs sm:text-sm transition-colors hover:bg-primary hover:text-primary-foreground"
      href="https://github.com/felipetodev/job-hunt"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub />
      <span
        class="inline-flex animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-transparent"
      >
        GitHub
      </span>
    </a>
  </nav>
</header>
