---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://pega-hunt.vercel.app" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		{
			import.meta.env.PROD && (
				<script
					defer
					src="https://analytics.us.umami.is/script.js"
					data-website-id="d2d1968b-3ba2-4655-a452-88e1884ca048"
				/>
			)
		}
	</head>
	<body class="dark">
		<main
			class="flex flex-col gap-y-10 mx-auto max-w-7xl px-2 py-12 md:py-16 lg:px-10"
		>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		overflow-x: hidden;
	}
</style>
